.eventContainer {
  width: 400px; }

#headerContainer {
  width: 100%;
  background-color: #52db9d;
  height: 80px; }

#headerLogoText {
  font-family: "Quicksand", sans-serif; }

#headerBannerContainer {
  width: 400px; }

.bannerImageContainer {
  width: 400px; }
  @media (min-width: 768px) {
    .bannerImageContainer {
      width: 768px; } }

.bannerImageContainer img {
  width: 100%; }

.headerMenuItem {
  display: inline; }

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none; }

#masterContainer {
  width: 400px;
  color: red; }
  @media (min-width: 768px) {
    #masterContainer {
      width: 768px;
      color: blue; } }
