.eventListContainer {
  background-color: red; }

.eventContainer {
  width: 80%;
  margin: 0 auto;
  background-color: blue; }

.eventImage {
  width: 20%;
  display: none; }

footer {
  background-color: #52db9d;
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  color: white;
  width: 400px;
  height: 80px; }

footer a:hover {
  opacity: 0.5; }

#footerContainer {
  width: 80%;
  margin: 0 auto;
  margin-top: 10px; }

.footerLinksContainer {
  margin: 0 auto; }

.footerLinksContainer ul li {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px; }

.footerIcons {
  padding-top: 8px;
  margin: 0 auto;
  width: 160px; }

.footerIcons img {
  width: 23%;
  margin-left: 5px;
  margin-right: 5px; }

#headerContainer {
  width: 100%;
  background-color: #52db9d;
  height: 80px; }

#headerLogoImage {
  margin-top: 12px;
  height: 55px;
  float: left;
  margin-left: 10px; }

#headerBannerContainer {
  height: 200px;
  position: fixed;
  margin-top: 80px;
  width: 400px;
  z-index: -5; }

#headerBannerContainer img {
  width: 100%;
  height: 400px; }

#headerHamburger {
  float: right;
  margin-top: 20px; }

#headerHamburgerIcon div {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  margin-right: 10px; }

#headerMenuList {
  width: 100%;
  max-width: 768px;
  height: 180px;
  margin-top: 80px;
  background-color: #3dd791;
  display: none;
  position: fixed;
  z-index: 1; }

.headerMenuItem {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  margin-top: 1.5px;
  padding: 10px 0; }

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none; }

a {
  color: white; }

#masterContainer {
  width: 400px;
  color: red;
  margin: 0 auto; }

#contactContainer {
  display: none;
  position: fixed;
  height: 500px;
  width: 200px;
  background-color: red;
  z-index: 2; }
