* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none; }

#eventListContainer {
  width: 400px;
  background-color: #52db9d;
  padding-top: 15px;
  padding-bottom: 15px; }

.eventContainer {
  width: 80%;
  height: 120px;
  margin: 0 auto;
  background-color: white;
  margin-bottom: 10px; }

.eventImage {
  width: 125px;
  height: 120px;
  margin-right: 5px;
  float: left; }

.eventHeader {
  font-family: "Quicksand", sans-serif; }

.eventDesc {
  font-family: "Open Sans", sans-serif; }

.eventTime {
  font-family: "Open Sans", sans-serif; }

footer {
  background-color: #52db9d;
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  color: white;
  width: 400px;
  height: 80px; }
  footer a:hover {
    opacity: 0.5; }

#footerContainer {
  width: 80%;
  margin: 0 auto; }

.footerLinksContainer {
  margin: 0 auto; }

.footerLinksContainer ul li {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px; }

.footerIcons {
  padding-top: 8px;
  margin: 0 auto;
  width: 160px; }

.footerIcons img {
  width: 23%;
  margin-left: 5px;
  margin-right: 5px; }

#headerContainer {
  width: 100%;
  background-color: #52db9d;
  height: 80px; }

#headerLogoImage {
  margin-top: 12px;
  height: 55px;
  margin-left: 15px; }

#headerLogoImage:hover {
  opacity: 0.5; }

#headerBannerContainer {
  height: 200px; }

.headerBannerImage {
  width: 400px;
  height: 200px; }

#headerHamburger {
  float: right;
  margin-top: 20px; }

#headerHamburger:hover {
  opacity: 0.5; }

#headerHamburgerIcon div {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  margin-right: 15px; }

#headerMenuContainer {
  height: 180px;
  width: 400px;
  position: fixed;
  display: none; }

#headerMenuList {
  background-color: #3dd791;
  z-index: 1;
  padding-top: 1px; }

.headerMenuItem {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  margin-top: 1.5px;
  padding: 10px 0; }
  .headerMenuItem a:hover {
    opacity: 0.5; }
  .headerMenuItem button:hover {
    opacity: 0.5; }

a {
  color: white; }

#masterContainer {
  width: 400px;
  margin: 0 auto; }

#contactContainer {
  display: none;
  position: fixed;
  height: 500px;
  width: 200px;
  background-color: red;
  z-index: 2; }
