#eventListContainer{
	width: $pageMobileWidth;
	padding-top: $eventListPadding;
	padding-bottom: $eventListPadding;
}

.eventContainer {
	width: 90%;
	height: $eventImageHeight;
	margin: 0 auto;
	background-color: white;
	margin-bottom: 8px; //spaces the containers
}

.eventImage {
	width: 125px;
	height: $eventImageHeight;
	margin-right: 5px; //for the text
	float: left;

}

.eventHeader{
    font-family: $headerFont;
}

.eventDesc {
    font-family: $bodyFont;
}

.eventTime {
    font-family: $bodyFont;
}

#InfoSection{
	width: 80%;
	color: black;
	padding-top: 20px;
	padding-bottom: 20px;
	font-family: $bodyFont;
	font-size: 12px;
	margin: 0 auto;
	text-align: center;
}

button{
	color: white;
	background-color: $primaryColor;
	padding: 10px;
	margin-top: 10px;
	border: none;
}