#eventListContainer{
	width: $pageMobileWidth;
	background-color: $primaryColor;
	padding-top: $eventListPadding;
	padding-bottom: $eventListPadding;
}

.eventContainer {
	width: 80%;
	height: $eventImageHeight;
	margin: 0 auto;
	background-color: white;
	margin-bottom: 8px; //spaces the containers
}

.eventImage {
	width: 125px;
	height: $eventImageHeight;
	margin-right: 5px; //for the text
	float: left;

}

.eventHeader{
    font-family: $headerFont;
}

.eventDesc {
    font-family: $bodyFont;
}

.eventTime {
    font-family: $bodyFont;
}