.eventListContainer{
	background-color: red;
}

.eventContainer {
	width: $pageMobileWidth;
	margin: 0 auto;
	background-color: blue;
}

.eventImage {
	width: 20%;
	display: none;
    
}

.eventHeader{
    
}

.eventDesc {
    
}

.eventTime {
    
}