footer{
	background-color: $primaryColor;
	margin: 0 auto;
	font-family: $bodyFont;
	font-size: 13px;
	color: white;
	width: $pageMobileWidth;
	height: 80px;
}

footer a:hover{
	opacity: 0.5;
}

#footerContainer{
	width: 80%;
	margin: 0 auto;
	margin-top: 10px;
}

.footerLinksContainer{
	margin: 0 auto;
}

.footerLinksContainer ul li {
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;

}

.footerIcons{
	padding-top: 8px;
	margin: 0 auto;
	width: 160px;
}

.footerIcons img{
	width: 23%;
	margin-left: 5px;
	margin-right: 5px;
}