#headerContainer {
	width: 100%;
	background-color: $primaryColor;
	height: 80px;
}

#headerLogo {

}

#headerLogoText {
	font-family: $headerFont;
}

#headerLogoImage {

}

#headerBannerContainer {
    width: $pageMobileWidth;
}

.bannerImageContainer {
    width: $pageMobileWidth;

    @include mediaDesktop {
        width: $pageFullWidth;
    }
}

.bannerImageContainer img{
    width: 100%;
}

.headerBannerImage {

}

#headerHamburger {

}

#headerHamburgerIcon {

}

#headerMenuContainer {

}

#headerMenuList {

}

.headerMenuItem {
	display: inline;
}
