#headerContainer {
	width: 100%;
	background-color: $primaryColor;
	height: 200px;
}

#headerLogo {
	
}

#headerLogoText {
	font-family: $headerFont;
}

#headerLogoImage {
	
}

#headerBannerContainer {
	
}

.bannerImageContainer {
	
}

.headerBannerImage {
	
}

#headerMenuButton {
	
}

#headerMenuContainer {
	
}

#headerMenuList {
	
}

.headerMenuItem {
	
}