$pageMobileWidth: 400px;
$pageHeight: 720px; //for reference
$pageTabletWidth: 768px;
$pageFullWidth: 1024px;
$headerContainerHeight: 80px;

$menuWidthResponsive: 100%;

$headerLogoMargin: 15px; //for logo and hamburger

$eventListPadding: 15px; //for padding the entire container

$slideshowImageHeight: 200px; //image container and image both need static height, or it adds pixels
$eventImageHeight: 120px; //same as above

@mixin mediaTablet {
	@media (min-width: #{$pageTabletWidth}) and (max-width: #{$pageFullWidth}) {
		@content;
	}
}

@mixin mediaDesktop {
	@media (min-width: #{$pageFullWidth}) {
		@content;
	}
}



@mixin testBorder {
	border: red 1px solid;
}

@mixin eventTextPosi {
	position: absolute;
    left: 130px;
}

$headerFont: 'Quicksand', sans-serif;
$bodyFont: 'Open Sans', sans-serif;
$primaryColor: #52db9d;
$bodyFontColor: #333333;
