/* The Modal (background) */
.popup {
    display: none;
    position: fixed;
    z-index: 999;
    width: $pageMobileWidth;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.popup-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.popup-content {
	height: 400px;
}

.popup-content form {
	width: 80%;
	margin: 0 auto;
	text-align: center;

	input {
		float: left;
		clear:both;
		padding: 10px;
		margin: 10px;
		width: 100%;
	}
}

.popup-content p {
	float: left;
	width: 100%;
	text-align: center;
}
