@import 'variables';

* {
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-decoration: none;
}

body {

	min-width: $pageMobileWidth;
	max-width: $pageTabletWidth - 1;
	margin: 0 auto;

	@include mediaTablet {
		min-width: $pageTabletWidth;
		max-width: 100%;
	}

	@include mediaDesktop {
		min-width: $pageFullWidth;
		max-width: 100%;

	}
}

a {
	color: white;
}

#masterContainer {


}
.contactButton {

}

#contactContainer {
	display: none;
	position: fixed;
	height: 500px;
	width: 200px;
	background-color: red;
	z-index: 2;
}

@import 'eventList';
@import 'footer';
@import 'header';
@import 'contact';