@import 'variables';
@import 'eventList';
@import 'footer';
@import 'header';

* {
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-decoration: none;
}

#masterContainer {
	width: $pageMobileWidth;
	
	@include mediaDesktop {
		width: $pageFullWidth;
	}
}